:root {
  font-size: 16px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

main {
  margin: auto;
  max-width: 600px;
}

#grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

#grid div {
  aspect-ratio: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

#keyboard {
  margin-top: 100px;
}

#keyboard button {
  width: 30px;
  height: 30px;
}

.empty {
  background-color: #ededed;
}

.input {
  background-color: #fff;
  border: 2px solid black;
  animation: animation-input 0.2s ease-in;
}

@keyframes animation-input {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animation-x {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.wrong {
  background-color: gray;
  animation: animation-x 0.2s ease-in;
}

.correct {
  background-color: green;
}

.correctWrongPosition {
  background-color: gold;
}
